/* Pleine largeur */
.wy-nav-content {
    max-width: 1000px !important;
}
span.tooltip {
    text-decoration: dotted;
    text-decoration-line: underline;
    text-decoration-thickness: .5pt;
    text-decoration-color: black;
}
